Give a useful error if someone calls SSLStream.selected_alpn_protocol() before the TLS handshake

With this minimal example, trio 0.8.0, Python 3.7,
```python
import ssl
import trio

ssl_context = trio.ssl.create_default_context(ssl.Purpose.CLIENT_AUTH)
ssl_context.set_ciphers('ECDHE+AESGCM')
ssl_context.options |= (
    ssl.OP_NO_SSLv2 | ssl.OP_NO_SSLv3 | ssl.OP_NO_TLSv1 | ssl.OP_NO_TLSv1_1
)  # RFC 7540 Section 9.2: MUST be TLS >=1.2
ssl_context.options |= ssl.OP_NO_COMPRESSION  # RFC 7540 Section 9.2.1: MUST disable compression
ssl_context.set_alpn_protocols(['h2', 'http/1.1'])
ssl_context.load_cert_chain(certfile='cert.pem', keyfile='key.pem')

async def serve(stream):
    print(stream.selected_alpn_protocol())

async def main():
    await trio.serve_ssl_over_tcp(
        serve, ssl_context=ssl_context, host='localhost', port=5000,
        https_compatible=True,
    )

trio.run(main)
```
Using this `curl --http2 -v https://localhost:5000` command I would expect the program to print `h2`, but it prints `None`. I'm new to trio so it is equally likely I'm doing something wrong here...

Oh, I think I know why... `SSLStream` doesn't perform the handshake immediately, it waits until you try to send/receive data, or call `do_handshake`. (This is kind of necessary because you need to be able to apply timeouts to the handshake, and that would be difficult if Trio performed the handshake automatically before giving control to your connection handler.)

So try making it:

```python
async def serve(stream):
    await stream.do_handshake()
    print(stream.select_alpn_protocol())
```

Thank you, that has done the trick.

Awesome, glad that worked.

I wonder if there's anything we should do to make this less of a trap. We could update the docs, I guess. Or... actually, just because there stdlib has this annoying behavior where calling `selected_alpn_protocol` too early gives misleading results, doesn't mean we have to copy it. In our version of that method we could check whether we've done the handshake yet, and raise an error if not.

Hi, I've just tried to address that in the PR, any feedback appreciated ;)